* {
  background-color: white;
  max-width: 1200px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header,
main,
footer {
  background-color: rgb(0, 0, 0);
  padding: 2rem;
}

nav {
  background-color: #2c4059;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

section {
  background-color: #4e4e6a;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 3;
}

.navigation {
  padding: 1rem;
  flex: 1;
  background-color: #71a3c4;
}

aside {
  background-color: #f63f51;
  padding: 2rem;
  flex: 1;
}

.articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #4e4e6a;
}

h1 {
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;
}

nav * {
  background-color: #ea5455;
  padding: 1rem;
}

nav div:nth-child(2) {
  flex: 3;
}
nav div:nth-child(1) {
  flex: 1;
}

nav div:nth-child(3) {
  flex: 1;
}

.banner {
  background-color: #ff8b00;
  padding: 2rem;
}

.banner * {
  background-color: #fed700;
  padding: 1rem;
}

footer * {
  background-color: #f0e78c;
  padding: 1rem;
}

article {
  background-color: #1f6cb0;
  padding: 1rem;
  width: calc(50% - 1rem);
}

article * {
  background-color: #fed700;
  padding: 1rem;
}

aside {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

aside * {
  background-color: #fed700;
  padding: 1rem;
}

@media (max-width: 768px) {
  * {
    background-color: rgb(158, 158, 158);
  }
  main {
    flex-direction: column;
  }

  nav {
    flex-direction: column;
  }

  nav * {
    width: 100%;
  }
}

@media (max-width: 500px) {
  * {
    background-color: rgb(66, 66, 66);
  }
  article {
    width: 100%;
  }
}
